NEO_TRADER_ENVIRONMENT=production
NEO_TRADER_LOG_LEVEL=INFO
NEO_TRADER_DRY_RUN=true
LIVE_TRADING_ENABLED=false
NEO_TRADER_LIVE_TRADING_ENABLED=false
TRADING_MODE=readonly
NEO_TRADER_TRADING_MODE=readonly
NEO_TRADER_TBANK_MODE=readonly
NEO_TRADER_BROKER_NAME=paper
NEO_TRADER_DATA_DIR=/opt/neo_trader/data
SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
REAL_TRADING_ENABLED=false
PAPER_LIVE_DATA_ONLY=true
ALLOW_REAL_ORDERS=false
TBANK_TOKEN=
NEO_TRADER_TBANK_TOKEN=
